{
    "arrowParens": "always",
    "printWidth": 80,
    "proseWrap": "always",
    "semi": false,
    "trailingComma": "all",
    "tabWidth": 2,
    "jsxSingleQuote": false,
    "singleQuote": true,
    "endOfLine": "auto"
}