<div class="w-full flex bg-blue text-white justify-center">
    <div class="flex max-w-5xl py-4 w-full gap-4">
        <a class="decoration-transparent hover:decoration-white" href="/"><h5>Home</h5></a>
        <div class="border border-white" />
        <a class="decoration-transparent hover:decoration-white" href="/me"><h5>About me</h5></a>
    </div>
</div>