<div class="w-full flex bg-blue text-white justify-center">
    <div class="flex max-w-5xl py-4 w-full">
        <a class="decoration-transparent hover:decoration-white" href="/"><h5>Home</h5></a>
    </div>
</div>