---
import { Icon } from 'astro-icon'
---

<div class="w-full flex bg-blue text-white justify-center">
    <div class="flex max-w-5xl py-4 w-full gap-4">
        <div class="flex-grow flex gap-4">
            <a class="decoration-transparent hover:decoration-white" href="/"><h5>Home</h5></a>
            <div class="border border-white" />
            <a class="decoration-transparent hover:decoration-white" href="/me"><h5>About me</h5></a>
        </div>
        <a class="decoration-transparent h-full aspect-square hover:scale-110" href="https://github.com/mwolfart" target="_blank" rel="noreferrer">
            <Icon name="grommet-icons:github" />
        </a>
        <a class="decoration-transparent h-full aspect-square hover:scale-110" href="https://www.linkedin.com/in/murilo-wolfart/" target="_blank" rel="noreferrer">
            <Icon name="grommet-icons:linkedin" />
        </a>
    </div>
</div>