---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header.astro";
import "../../styles/globals.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Murilo Wolfart - Portfolio"}</title>
    <ViewTransitions />
    <script is:inline data-astro-rerun>
      const isUsingDarkMode = localStorage.getItem("dark-mode") === "true";
      console.log(isUsingDarkMode);
      if (
        typeof isUsingDarkMode === "undefined" &&
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        localStorage.setItem("dark-mode", "true");
        document.body.classList.add("dark");
      } else if (isUsingDarkMode) {
        document.body.classList.add("dark");
      }
    </script>
  </head>
  <body class="flex flex-col gap-4 h-screen">
    <Header />
    <div class="py-4 flex-grow">
      <div class="max-w-5xl mx-auto h-full px-4">
        <slot />
      </div>
    </div>
    <style>
      @import "open-props/animations";
      @import "open-props/easings";

      ::view-transition-group(*) {
        animation-timing-function: var(--ease-squish-1);
        animation-timing-function: var(--ease-in-out-4);
      }

      ::view-transition-old(*) {
        animation-duration: 0.1s;
      }

      ::view-transition-new(*) {
        animation-duration: 0.5s;
      }
    </style>
  </body>
</html>
