@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-highlight: #beaf5a;
    --color-bgdetail: #ffffff; 
    --color-white: #353535;
    --color-dark: #e7e7e7;
    --color-black: #8b8b8b;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* --color-highlight: #cb0271; */
    --color-highlight: #44859e;
    --color-bgdetail: #363d3c; 
    --color-white: #cacaca;
    --color-dark: #181818;
    --color-black: black;
    }
  }

  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  body {
    @apply font-opensans text-sm text-white;
    /* @apply bg-gradient-to-br from-bgstart via-bgmid via-30% to-bgend; */
    background: radial-gradient(ellipse at left, var(--color-bgdetail), var(--color-dark), var(--color-black));
  }

  a {
    color: inherit;
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 1px;
  }

  a:hover {
    text-decoration-color: transparent;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-xl md:text-2xl;
  }

  h3 {
    @apply text-lg md:text-xl;
  }

  h4 {
    @apply text-md md:text-lg;
  }

  h5 {
    @apply text-sm md:text-md;
  }

  ul {
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .opacity-full {
    opacity: 1 !important;
  }
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  src: url('../../public/font/opensans.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url('../../public/font/opensans-italic.ttf');
}
