@import url('./theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  body {
    @apply font-opensans text-sm text-white;
    /* @apply bg-gradient-to-br from-bgstart via-bgmid via-30% to-bgend; */
    background: radial-gradient(ellipse at left, var(--color-bgdetail), var(--color-dark), var(--color-black));
    transition: 'all 2s';
  }

  a {
    color: inherit;
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 1px;
  }

  a:hover {
    text-decoration-color: transparent;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-xl md:text-2xl;
  }

  h3 {
    @apply text-lg md:text-xl;
  }

  h4 {
    @apply text-md md:text-lg;
  }

  h5 {
    @apply text-sm md:text-md;
  }

  small {
    @apply text-2xs;
  }

  ul {
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .opacity-full {
    opacity: 1 !important;
  }
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  src: url('../../public/font/opensans.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url('../../public/font/opensans-italic.ttf');
}
