---
import Layout from "../_components/Layout.astro";
import ProjectGrid from "../_components/ProjectGrid.astro";
import projects from "../../constants/projects";

const { projectId } = Astro.params;

export function getStaticPaths() {
  return projects.map(({ id }) => ({ params: { projectId: id } }));
}
---

<Layout>
  <div class="pb-16">
    <ProjectGrid
      id={projectId}
    />
  </div>
</Layout>