---
import Layout from "./_components/Layout.astro";
import ProjectGrid from "./_components/ProjectGrid.astro";
import * as i18n from "../constants/content.json";

const content = i18n.home;
---

<Layout>
	<div class="flex flex-col h-full">
		<div class="flex-grow flex flex-col my-8 md:mb-0">
			<span class="text-sm md:text-md">
				{content.prefix}
			</span>
			<h1 class="text-highlight">{content.name}</h1>
			<p class="text-md my-4 max-w-2xl">{content.welcome}</p>
		</div>
		<ProjectGrid />
	</div>
</Layout>
