@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-background: #2a5da3;
    --color-background-secondary: #214d8b;
    --color-background-tertiary: #c7c7c7;
    --color-text: #d1d1d1;
    --color-primary: #f3c862;
    --color-secondary: #762daa;
  }

  html.dark {
    --color-background: #282828;
    --color-background-secondary: #323232;
    --color-background-tertiary: #4b4646;
    --color-text: #f4f4f4;
    --color-primary: #f6304b;
    --color-secondary: #9472df;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  body {
    color: var(--color-text);
    background-color: var(--color-background);

    @apply font-opensans text-sm;
  }

  a {
    color: inherit;
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 1px;
  }

  a:hover {
    text-decoration-color: transparent;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-xl md:text-2xl;
  }

  h3 {
    @apply text-lg md:text-xl;
  }

  h4 {
    @apply text-md md:text-lg;
  }

  h5 {
    @apply text-sm md:text-md;
  }

  p {
    @apply text-sm md:text-sm;
  }
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  src: url("../../public/font/opensans.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url("../../public/font/opensans-italic.ttf");
}
